#anime-upcoming-season {
    flex-direction: column;
    align-items: start;
    height: 900px;
}

#anime-upcoming-season .main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 5%;
}

.main-container iframe {
    position: absolute;
    top: 0;
    right: 20px;
    height: 60%;
    width: 70%;
    box-sizing: border-box;
    pointer-events: all;
    padding-bottom: 5px;
    z-index: 0;
}

.video-overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 60%;
    width: 100%;
    pointer-events: none;
    z-index: 1;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 0) 50%);
}

.main-container .anime-data {

    gap: 10px;
    z-index: 1;
    width: 40%;
    height: 50%;
    box-sizing: border-box;
}



.main-container .anime-data button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    gap: 5px;
    padding: 5px;
}


.main-container .change-anime-container {
    z-index: 5;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    height: 10%;
    gap: 20px;
    box-sizing: border-box;
}

.change-anime-container h2 {
    margin: 0;
    width: 240px;
    font-size: 1.3rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.change-anime-container button {
    aspect-ratio: 1/1;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color-1);
}



#anime-upcoming-season .anime-list-container {
    z-index: 1;

    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    box-sizing: border-box;
    width: auto;
    height: 40%;
    padding-bottom: 20px;
}

#anime-upcoming-season .anime-list-container .upcoming-season-anime-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    padding: 0;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

#anime-upcoming-season .anime-list-container .upcoming-season-anime-item.active {
    outline: 3px solid var(--color-1);
}

#anime-upcoming-season .anime-list-container .upcoming-season-anime-item img {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 4px;

}

@media (max-width: 900px) {
    .main-container iframe {
        top: 100px;
        height: 40%;
    }

    .main-container .change-anime-container {
        gap: 10px;
    }
}