#home-menu section#trending-this-season {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    height: 700px;
}

#trending-this-season .select-media-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 20px 5%;
    height: 10%;
    box-sizing: border-box;
}

#trending-this-season .select-media-container>h2 {
    margin: 0;
    font-size: 1.3rem;
}

#trending-this-season .select-media-container>h2,
#trending-this-season .select-media-container>div,
#trending-this-season .select-media-container>a {
    width: 30%;
}

.select-media-container div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.select-media-container button {
    font-size: 1.2rem;
    align-items: center;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 5px;
}

.select-media-container button:hover {
    background-color: transparent;
    color: var(--text-color-1-hover);
}

.select-media-container button:hover:active {
    background-color: transparent;
    color: var(--text-color-1);
}

.select-media-container button.active {
    border-bottom: 2px solid var(--secondary-color);
}

#trending-this-season .select-media-container>a {
    text-align: right;
    font-size: .9rem;
    text-decoration: none;
    color: var(--text-color-1);
    font-weight: bold;
}

#trending-this-season .select-media-container>a:hover {
    text-decoration: underline;
}

#trending-this-season .media-gallery {
    height: 90%;
}

.media-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
}

.media-gallery .media-item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    flex: 1;
    transition: flex .5s ease-in-out;
    background-color: transparent;
    border: none;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    height: 100%;
    border-radius: 0;
}

.media-gallery .media-item:hover {
    z-index: 1;
    flex: 1.5;
}

.media-gallery button.media-item:active {
    background-color: transparent;
    color: var(--text-color-1);
}


.media-item .top-part {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: end;
}

.media-item .top-part img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.media-item .more-info {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.568);
    opacity: 0;
    z-index: 1;
    height: 20%;
    transition: opacity .5s ease-in-out;
}

.media-item:hover .more-info {
    opacity: 1;
}

.media-item h3 {
    height: 20%;
    font-size: 1rem;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: left;
    max-height: calc(1.5rem * 2);
    line-height: 1.5rem;
    z-index: 1;
    margin: 0;
    margin: 20px;
}