#home-menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: var(--text-color);
    box-sizing: border-box;
    overflow: hidden;
}

#home-menu section {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    height: 800px;
    width: 100%;
}

#main-banner {
    background-color: var(--primary-color);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-banner img {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    overflow: hidden;
    z-index: 0;
}

#main-banner #banner-text {
    z-index: 1;
    text-align: center;
    font-size: 2rem;
}

.banner-filter {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.banner-filter.dark {
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-filter.light {
    background-color: rgba(255, 255, 255, 0.4);
}

#home-menu section#trending-this-season {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    height: 700px;
}

#trending-this-season .select-media-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 20px 5%;
    height: 10%;
    box-sizing: border-box;
}

#trending-this-season .select-media-container>h2 {
    margin: 0;
    font-size: 1.3rem;
}

#trending-this-season .select-media-container>h2,
#trending-this-season .select-media-container>div,
#trending-this-season .select-media-container>a {
    width: 30%;
}

.select-media-container div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.select-media-container button {
    font-size: 1.2rem;
    align-items: center;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 5px;
}

.select-media-container button:active {
    background-color: transparent;
}

.select-media-container button.active {
    border-bottom: 2px solid var(--secondary-color);
}

#trending-this-season .select-media-container>a {
    text-align: right;
    font-size: .9rem;
    text-decoration: none;
    color: var(--text-color-1);
    font-weight: bold;
}

#trending-this-season .select-media-container>a:hover {
    text-decoration: underline;
}

#trending-this-season .media-gallery {
    height: 90%;
}

@media (prefers-color-scheme: dark) {
    #main-banner img {
        /* filter: invert(1); */
    }
}