#media-filter-menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: var(--text-color);
    box-sizing: border-box;
    overflow: hidden;
    padding: 90px 5% 0px 5%;
    gap: 20px;
}

#media-filter-menu .filters {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-4-transparent);
    border-radius: 10px;
    padding: 20px;
}

#media-filter-menu .filter-container {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
    gap: 20px;
    width: 100%;
    height: auto;
    padding: 0;
}

#media-filter-menu .filter-container.active {
    display: flex;
}

#media-filter-menu .main-filters {
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: end;
    gap: 20px;
    width: 100%;
    height: auto;
    padding: 0;
}

.filters button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-container .show-extra {
    color: var(--color-3);
}

.filter-container .show-extra.active {
    color: var(--color-1);
}

.media-container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.media-container .top-part,
.media-container .bottom-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.media-container .top-part {
    border-top: 2px solid var(--secondary-color);
}

.media-container .bottom-part {
    border-bottom: 2px solid var(--secondary-color);
}

.media-container .top-part button,
.media-container .bottom-part button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-container .top-part button:hover:disabled,
.media-container .bottom-part button:hover:disabled {
    background-color: var(--color-button-disabled);
    color: var(--font-color-1-disabled);
}

.media-container .media-items-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

}

.media-container .media-items-container .media-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 0;
    border-radius: 5px;
    gap: 10px;
}

.media-container .media-items-container .media-item img {
    width: 100%;
    height: 85%;
    object-fit: cover;
}

.media-container .media-items-container .media-item h4 {
    margin: 0;
    font-size: .9rem;
    display: flex;
    padding: 0 10px;
}