.user-menu {
    width: 100%;
    min-height: 100%;


}

.user-menu .sign-in-container {
    width: 90%;
    height: 90%;
    max-width: 500px;
    max-height: 500px;
    background-color: var(--text-color-2-hover);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-menu .user-info {
    display: flex;
    position: relative;
    align-items: end;
    width: 100%;
    height: 300px;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
}

.user-menu .user-info .banner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.user-menu .user-info .banner-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.user-menu .user-info .avatar {
    z-index: 1;
    height: 50%;
    object-fit: contain;
}

.user-menu .user-info .username {
    z-index: 1;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 3rem;
}

.user-menu .user-options {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.user-menu .user-options button,
.user-menu .user-options a {
    font-size: 1rem;
    padding: 5px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    border-radius: 0;
    text-decoration: none;
    color: var(--text-color-1);
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-menu .user-options button:hover,
.user-menu .user-options a:hover {
    color: var(--text-color-1-hover);
}

.user-menu .user-options button:active {
    color: var(--text-color-1);
}

.user-menu .user-options button.active {
    border-bottom: 2px solid var(--secondary-color);
}

.user-menu .main-content {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 300px);
    padding: 20px;
    overflow: hidden;
}

.user-menu .main-content .current-option {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
}

.user-menu .main-content h2 {
    margin: 0;
    padding: 20px 0;
    border-bottom: 2px solid var(--secondary-color);
}