:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--background-color);
  color: var(--text-color-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --color-1: white;
  --color-2: black;
  --color-3: rgb(219, 219, 219);
  --color-4: rgb(59, 59, 59);
  --color-5: rgb(11, 126, 233);

  --font-color-1: black;
  --font-color-2: white;
  --font-color-3: blue;

  --background-color: var(--color-1);
  --text-color-1: var(--font-color-1);
  --text-color-2: var(--font-color-2);
  --primary-color: var(--color-1);
  --secondary-color: var(--color-2);
  --button-color-1: var(--color-4);
  --button-color-2: var(--color-1);
}

/* Tema claro */
@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--color-1);
    --text-color-1: var(--font-color-1);
    --text-color-2: var(--font-color-2);
    --primary-color: var(--color-1);
    --secondary-color: var(--color-2);
    --button-color-1: var(--color-3);
    --button-color-2: var(--color-2);
  }
}

/* Tema oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--color-2);
    --text-color-1: var(--font-color-2);
    --text-color-2: var(--font-color-1);
    --primary-color: var(--color-2);
    --secondary-color: var(--color-1);
    --button-color-1: var(--color-4);
    --button-color-2: var(--color-1);
  }
}

html,
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color-1);
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  flex: 1;
}

button {
  background-color: var(--button-color-1);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

button:active {
  background-color: var(--button-color-2);
}

button:hover {
  cursor: pointer;
}