:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--background-color);
  color: var(--text-color-1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --color-1: white;
  --color-2: black;
  --color-3: rgb(119, 119, 119);
  --color-4: rgb(59, 59, 59);
  --color-5: rgb(11, 126, 233);

  --color-1-transparent: rgba(255, 255, 255, 0.7);
  --color-2-transparent: rgba(0, 0, 0, 0.7);
  --color-3-transparent: rgb(119, 119, 119, 0.7);
  --color-4-transparent: rgb(59, 59, 59, 0.7);
  --color-5-transparent: rgb(11, 126, 233, 0.7);

  --font-color-1: black;
  --font-color-2: white;
  --font-color-3: blue;
  --font-color-1-hover: rgb(76, 76, 76);
  --font-color-2-hover: rgb(184, 184, 184);

  --background-color: var(--color-2);
  --text-color-1: var(--font-color-2);
  --text-color-2: var(--font-color-1);
  --text-color-1-hover: var(--font-color-2-hover);
  --text-color-2-hover: var(--font-color-1-hover);
  --primary-color: var(--color-2);
  --secondary-color: var(--color-1);
  --button-color-1: var(--color-4-transparent);
  --button-color-1-hover: var(--color-3-transparent);
  --button-color-2: var(--color-1);
  --button-color-2-hover: var(--color-3-transparent);
}

/* Tema claro */
/* @media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--color-1);
    --text-color-1: var(--font-color-1);
    --text-color-2: var(--font-color-2);
    --text-color-1-hover: var(--font-color-1-hover);
    --text-color-2-hover: var(--font-color-2-hover);
    --primary-color: var(--color-1);
    --secondary-color: var(--color-2);
    --button-color-1: var(--color-3);
    --button-color-2: var(--color-2);
  }
} */

/* Tema oscuro */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--color-2);
    --text-color-1: var(--font-color-2);
    --text-color-2: var(--font-color-1);
    --text-color-1-hover: var(--font-color-2-hover);
    --text-color-2-hover: var(--font-color-1-hover);
    --primary-color: var(--color-2);
    --secondary-color: var(--color-1);
    --button-color-1: var(--color-4);
    --button-color-2: var(--color-1);
  }
} */

html,
body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color-1);
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  flex: 1;
}

button {
  background-color: var(--button-color-1);
  color: var(--secondary-color);
  /* border: 1px solid var(--secondary-color); */
  border: none;
  border-radius: 5px;
  padding: 5px;
}

button:active:hover {
  background-color: var(--button-color-2);
  color: var(--text-color-2);
}

button:hover {
  background-color: var(--button-color-2-hover);
  cursor: pointer;
}